

.cycles{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.cicle_dots{
    display: flex;
    gap: .4rem;
}

.cicle_dot{
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}

.workTime{
    background-color: var(--warning);
}

.shortBreakTime{
    background-color: var(--primary);
}

.longBreakTime {
    background-color: var(--info)
}